

		<h1 class="title"><i class="fa fa-users"></i> Team: <%= @team.name %></h1>
		<hr>


		<div class="row">
            <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">Team Members</header>
                <table class="table table-bordered table-advance table-hover">


           
              <thead>
                <tr style="background-color: #eeeeee">
                  <th>#</th>
                  <th>Member Name</th>
                  <th>Email Address</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @team.users.each_with_index do |member, i| %>
                                    
                  <tr>

                    <td><%= i+1 %></td>             
                    <td><%= link_to member.name, member %></td>
                    <td><%= member.email %></td>
                    <td></td>

                      
                  </tr>
                <% end %>

              </tbody>
            </table>

          </section>
        </div>
      </div>








