<% if user_signed_in? %>

  <div id="content" class="span11">
    <div class="container">
      <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
    </div>
  </div>



<% else %>
<div class="frontBackground">

<div class="frontLogo">eCWellness: <font face="Rock Salt" color="#f4f4f6">The Biggest Loser</font>
<br><br><br><br>


<%= link_to new_user_registration_path, class: "btn btn-large" do %>
                  <span class="fa fa-magic"></span>  Register<% end %>
           
                <%= link_to new_user_session_path, class: "btn btn-large" do %>
                <span class="fa fa-key"></span>  Login<% end %>


                
              </div>
             

</div>
<% end %>



